// Banner
#project-banner {
  margin-top: -49px;
  height: 100vh;
  background-size: cover !important;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% !important;
  overflow: hidden;
}

main#projects .row {
  margin-top: 120px;
}
main#projects img{
    height: auto;
}
main#projects p {
  color: #5C5E64;
  font-family: "OpenSansRegular";
  font-size: 16px;
  letter-spacing: 0;
  padding: 0px 50px;
  line-height: 26px;
}
main#projects h3 {
  padding: 0 54px;
}
main#projects h5 {
  color: #22242C;
  font-family: "NeueMontreal";
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}
main#projects ul.project-type {
  display: flex;
  padding: 0 50px;
  list-style: none;
}
main#projects ul.project-type a {
  text-decoration: none;
  color: #22242C;
  font-family: "NeueMontreal";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-right: 4px;
}
main#projects ul.project-type a:hover {
  color: #35A5FF;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
main#projects ul.project-type li:not(:last-child) a:after {
  content: ",";
}
// Next post

div.next-post {
  height: 405px;
  background-size: cover !important;
  position: relative;
  width: 100%;
  background-position: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
div.next-post:after {
  background-color: rgba(0,0,0,.5);
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 405px;
}
div.next-post h4 {
  font-family: "NeueMontreal";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 33px;
  text-align: center;
}
div.next-post a {
  text-decoration: none;
}
div.next-post div.info {
  z-index: 2;
}